body { background: #e0e0e0; }
.entireHeight {
	box-sizing: border-box;
	min-height: 114px;
	float: left;
	margin: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	padding: 0;
	vertical-align: middle;
}
.entireHeight > * { display: block }
.rel { position: relative; }

.CharacterList {
	position: relative;
	perspective: 1000px;
	perspective-origin: 50% 40%;
}

.character {
	position: absolute;
	top: 0em;
	width: 100%;
	z-index: 100;
	margin-bottom: 2em;
	border: 0px solid #eee;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
	box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.17);
	background: white;

	transition:
		top 0.3s cubic-bezier(0.230, 1.000, 0.320, 1.000),
		opacity 0.3s ease,
		box-shadow 0.3s ease,
		transform 0.3s ease;

	transform-origin: center center;
	transform: translate3d(0, 0, -2px);
}
.character.hasGoneThisRound,
.character.incapped {
	z-index: 99;
	box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.10);
	transform: translate3d(0, 0, -5px);
}
.character.isUp,
.character.mayGo {
	z-index: 101;
	box-shadow: 9px 7px 16px 0px rgba(0,0,0,0.24);
	transform: translate3d(0, 0, 0px);
}

.character .init {
	box-sizing: border-box;
	margin: 1em 0 0;
	padding: 0;
	min-height: 5em;
	font-size: 14px;
	vertical-align: middle;
}
.character .init .value { 
	font-weight: bold;
}
.character .init select.value option { color: #999; }
.character .init select.value option.tens { color: black; }
.character .init select.value option.crash { color: #c88; }
.character .init select.value option.crash.tens { color: darkred; }
.character .init select.value option.reset { color: #00e; }
.character.hasGoneThisRound .init {
	color: #999;
}
.character.incapped .init ,
.character.incapped .topRow > .name {
	color: #c99;
	text-decoration: line-through;
}

.character .goButton {
	position: absolute;
	bottom: 0;
	box-sizing: border-box;
	width: 100%;
	height: 3em;
	margin: 0;
	border-color: transparent;
	border-radius: 0 0 0 6px;
	padding: 0;
	opacity: 1;
	font-size: inherit;
	line-height: inherit;

	transition: opacity 0.3s ease;
}
.character .goButton > * { font-size: 18px; }
.character .goButton:disabled {
	opacity: 0;
}
.character .goButton {
	border-color: transparent;
}
.character .goButton.btn-success:focus {
  outline: none;
  border-color: #4cae4c;
}
.character .goButton.btn-danger:focus {
  outline: none;
  border-color: #d43f3a;
}

.character .portrait {
	float: left;
	min-height: 114px;
	min-width: 114px;
	margin-right: 1em;
	background-size: cover;
	background-position: center center;
}

.character .topRow {
	min-height: 3em;
	line-height: 3em;
	vertical-align: middle;
}
.character .topRow .name, .character .topRow .status {
	display: inline;
	vertical-align: middle !important;
}

.character .name {
	margin-right: 0.6em;
	font-size: 1.8em;
	font-weight: bold;
}

.character .stat select.value {
	direction: rtl;
	border: 0;
	cursor: pointer;
}
.character .stat select.value:active {
	border: inherit;
}
.character .stat select.value option {
	direction: ltr;
	font-size: 75%;
}

.character .stat {
	display: inline-block;
	min-width: 5em;
	min-height: 5em;
	text-align: center;
}
.character .stat .value {
	font-size: 2em;
}
.character .stat .what {
	font-size: 1em;
	color: #999;
	font-style: italic;
}

.character .stat.bumpAfter {
	margin-right: 4em;
}

.character .stat.bad .value { color: #cb1; }
.character .stat.veryBad .value { color: #950; }
.character .stat.superBad .value { color: #f00; }