body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

.container-fluid {
	padding-left: 20px;
	padding-right: 30px;
}

@media(min-width: 550px) {
	.container-fluid {
		padding-left: 8%;
		padding-right: 8%;
	}
}