.Knob {
	.curValue {
		text-align: center;
		font-size: 15vh;
		font-weight: bold;
		color: #ff7;
	}

	.abort {
		width: 150px;
		height: 100px;

		position: fixed;
		left: calc(~"50% - 75px");
		top: calc(~"50% - 50px");
		font-size: 30px;
		line-height: 100px;
		text-align: center;
		vertical-align: middle;

		background: #777;
		color: #ddd;

		&.hover {
			background: #c00;
			color: white;
		}
	}
}
