.BattleView {
	clear: both;

	h1 {
		float: left;
		clear: left;
	}

	.bvHeader + * {
		margin-top: 1em;
	}

	.topRight {
		float: right;
		clear: right;

		& > * {
			display: inline-block;
			vertical-align: middle;
			margin-left: 1em;
		}
		.BattleStats {
			text-align: right;
			font-weight: bold;
		}
	}

	.combatants > ol {
		> li + li {
			margin-top: 20px
		}
	}
};
