@minBigScreen: 550px;
@portraitSize: 192px;

.PersistentCharacterEditor {
	@media (min-width: @minBigScreen) {
		display: flex;
	}

	> * {
		display: block;
		@media (min-width: @minBigScreen) {
			display: inline-block;
			vertical-align: top;
		}
	}

	.portraitBox {
		float: right;
		clear: right;
		margin-left: 1em;
		text-align: center;
		//cursor: crosshair;

		@media (min-width: @minBigScreen) {
			float: none;
			clear: none;
			margin-left: 0;
			margin-right: 1em;
		}

		.Portrait {
			width: @portraitSize;
			height: @portraitSize;
			max-width: 25vw;
			max-height: 25vw;
			margin-bottom: 5px;
		}
	}
	.hideFileInput {
		// http://tympanus.net/codrops/2015/09/15/styling-customizing-file-inputs-smart-way/
		width: 0.1px;
		height: 0.1px;
		opacity: 0;
		overflow: hidden;
		position: absolute;
		z-index: -1;
	}
	.fields {
		width: 100%;
		@media (min-width: @minBigScreen) {
			width: calc(~"100% - 1em" - @portraitSize)
		}

		.input-label { font-weight: bold; }
		* + .input-label { margin-top: 1em; }
		input[type=text] { width: 50% }
	}
	.essenceBlock {
		display: inline-block;
		padding: 0.5em;

		.IntegerSelect { margin-left: 0.5em }
		> * { vertical-align: middle }
	}
	.notes {
		width: 100%;
		border: 0;
	}
}
