@row-height: 150px;
@portrait-height: @row-height;

@timing-width: 100px;
@portrait-width: @portrait-height;


.Combatant {
	height: @row-height;
	border-radius: 10px;
	background-color: #eee;

	transition:
		box-shadow 0.3s ease,
		transform 0.3s ease;
	transform-origin: center center;

	&.zHi {
		transform: translate3d(0, 0, 0px);		
		box-shadow: 9px 7px 16px 0px rgba(0,0,0,0.24);
		z-index: 101;
	}
	&.zMed {
		transform: translate3d(0, 0, -2px);
		box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.17);
		z-index: 100;		
	}
	&.zLow {
		transform: translate3d(0, 0, -5px);
		box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.10);
		z-index: 99;
	}
	&.zFlat {
		transform: translate3d(0, 0, -5px);
		box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.10);
		z-index: 99;
	}

	& > * {
		display: inline-block;
		vertical-align: top;
	}

	.Timing {
		width: @timing-width;
		padding: 15px;
	}

	.Portrait {
		height: @portrait-height;
		width: @portrait-width;

		filter: grayscale(0);
		-webkit-filter: grayscale(0);
		transition: filter 1s ease-out;
		-webkit-transition: -webkit-filter 1s ease-out;
	}
	&.notInBattle .portrait {
		filter: grayscale(1);
		-webkit-filter: grayscale(1);
	}

	.otherStuff {
		box-sizing: border-box;
		width: calc(~"100%" - (@timing-width + @portrait-width));
		padding: 10px;

		.name {
			font-weight: bold;
			font-size: larger;
		}
		.notes {
			margin-top: 10px;
			width: 100%;
			border: 0;
			resize: none;
		}
	}
};

